<div class="panel panel-default" align="center">
 <div class="panel-heading"><h2>{{ monster.name }}</h2></div>
 <div class="panel-body">
   <div class="container-fluid">
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Description</b></div>
     <div class="col-xs-6 col-md-4">{{ monster.custom_description }}</div>
     <div class="col-xs-6 col-md-4">
       <edit-modal
         [label]="'Description'"
         [inputType]="'text'"
         [value]="monster.custom_description"
         (newValue)="monster.custom_description=$event; onUpdateMonster()">
       </edit-modal>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Hit dice type</b></div>
     <div class="col-xs-6 col-md-4">{{ monster.hd_type }}</div>
     <div class="col-xs-6 col-md-4">
       <edit-modal
         [label]="'Hit dice type'"
         [inputType]="'number'"
         [value]="monster.hd_type"
         (newValue)="monster.hd_type=$event; onUpdateMonster()">
       </edit-modal>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Hit dice amount</b></div>
     <div class="col-xs-6 col-md-4">{{ monster.hd_amount }}</div>
     <div class="col-xs-6 col-md-4">
       <edit-modal
         [label]="'Hit dice amount'"
         [inputType]="'number'"
         [value]="monster.hd_amount"
         (newValue)="monster.hd_amount=$event; onUpdateMonster()">
       </edit-modal>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Hit points</b></div>
     <div class="col-xs-6 col-md-4">{{ monster.hp }}</div>
     <div class="col-xs-6 col-md-4">
       <edit-modal
         [label]="'Hit points'"
         [inputType]="'number'"
         [value]="monster.hp"
         (newValue)="monster.hp=$event; onUpdateMonster()">
       </edit-modal>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Initiative</b></div>
     <div class="col-xs-6 col-md-4">{{ monster.initiative }}</div>
     <div class="col-xs-6 col-md-4">
       <edit-modal
         [label]="'Initiative'"
         [inputType]="'number'"
         [value]="monster.initiative"
         (newValue)="monster.initiative=$event; onUpdateMonster()">
       </edit-modal>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Speed</b></div>
     <div class="col-xs-6 col-md-4">{{ monster.speed }}</div>
     <div class="col-xs-6 col-md-4">
       <edit-modal
         [label]="'Speed'"
         [inputType]="'number'"
         [value]="monster.speed"
         (newValue)="monster.speed=$event; onUpdateMonster()">
       </edit-modal>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Spells</b></div>
     <div class="col-xs-6 col-md-4"><spell-finder [spells]="monster.Spells"></spell-finder></div>
     <div class="col-xs-6 col-md-4"></div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-6 col-md-4"><b>Skills</b></div>
     <div class="col-xs-6 col-md-4"><show-skills [skillValues]="monster.SkillValues"></show-skills></div>
     <div class="col-xs-6 col-md-4"></div>
   </div>
   </div>
 </div>
 <div class="panel-footer">
   <button class="btn btn-default" (click)="onDeleteMonster()">Delete</button>
 </div>
</div>
