<div class="panel panel-default" align="center">
 <div class="panel-heading"><h2>{{ spell.name }}</h2></div>
 <div class="panel-body">
  <div class="table-responsive">
   <table class="table table-striped"><tbody>
    <tr>
     <td style="text-align:center"><b>Description</b></td>
     <td style="text-align:center">{{ spell.description }}</td>
     <td style="text-align:center">
       <edit-modal
         [label]="'Description'"
         [inputType]="'text'"
         [value]="spell.description"
         (newValue)="spell.description=$event; onUpdateSpell()">
       </edit-modal>
     </td>
   </tr>
   <tr>
     <td style="text-align:center"><b>Save type:</b></td>
     <td style="text-align:center">{{ spell.save_type }}</td>
     <td style="text-align:center">
       <edit-modal
         [label]="'Save Type'"
         [inputType]="'text'"
         [value]="spell.save_type"
         (newValue)="spell.save_type=$event; onUpdateSpell()">
       </edit-modal>
     </td>
   </tr>
  </tbody></table></div>
 </div>
</div>
