<div class="panel panel-default" align="center">
 <div class="panel-heading">
  <h2>{{ spell.name }}</h2>
  <div *ngIf="updateState === 'yes'" class="alert alert-success">
    <strong>Spell updated successfully.</strong>
  </div>
  <div *ngIf="updateState === 'canceled'" class="alert alert-warning">
    <strong>Changes discarded.</strong>
  </div>
 </div>

 <div class="panel-body">
  <div class="table-responsive">
   <table class="table table-striped"><tbody>
    <tr>
     <td style="text-align:right"><b>Belongs to:</b></td>
     <td style="text-align:left"><a href={{monsterUrl}}>{{ monster.name ? monster.name : "ERR: MONSTER NAME NOT DEFINED" }}</a></td>
   </tr>
   <tr>
     <td style="text-align:right"><b>Description:</b></td>
     <td style="text-align:left">{{ spell.description }}</td>
   </tr>
    <tr>
     <td style="text-align:right"><b>Spell level:</b></td>
     <td style="text-align:left">{{ spell.level }}</td>
   </tr>
   <tr>
     <td style="text-align:right"><b>Save type:</b></td>
     <td style="text-align:left">{{ spell.save_type }}</td>
   </tr>
   <tr>
     <td style="text-align:right"><b>Permits spell resistance:</b></td>
     <td style="text-align:left">{{ spell.permits_sr ? "Yes" : "No"}}</td>
   </tr>
  </tbody></table></div>
 </div>
  <div class="panel-footer">
   <button class="btn btn-default" (click)="redirectToUpdateSpell()">Edit</button>
 </div>
</div>
