<div class="panel panel-default" align="center">
 <h1>Update spell</h1>
   <form id="myform" (ngSubmit)="onUpdateSpell()">
     <div class="panel-body">
      <div class="table-responsive">
       <table class="table table-striped"><tbody>
        <tr>
         <td style="text-align:right"><label for="name"><b>Name</b></label></td>
         <td style="text-align:left">
          <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="spell.name" name="name">
         </td>
       </tr>
       <tr>
         <td style="text-align:right"><b>Belongs to:</b></td>
         <td style="text-align:left"><a href={{monsterUrl}}>{{ monster.name ? monster.name : "ERR: MONSTER NAME NOT DEFINED" }}</a></td>
       </tr>
        <tr>
         <td style="text-align:right"><label for="description"><b>Description</b></label></td>
         <td style="text-align:left">
         <textarea columns="120" rows="5" class="form-control" id="description"
              required
              [(ngModel)]="spell.description" name="description"></textarea>
         </td>
       </tr>
       <tr>
         <td style="text-align:right"><b>Spell level:</b></td>
         <td style="text-align:left">
          <button *ngIf="spell.level == 0" type="button" class="btn btn-success" (click)="spell.level=0">0</button>
          <button *ngIf="spell.level != 0" type="button" class="btn btn-warning" (click)="spell.level=0">0</button>
          <button *ngIf="spell.level == 1" type="button" class="btn btn-success" (click)="spell.level=1">1</button>
          <button *ngIf="spell.level != 1" type="button" class="btn btn-warning" (click)="spell.level=1">1</button>
          <button *ngIf="spell.level == 2" type="button" class="btn btn-success" (click)="spell.level=2">2</button>
          <button *ngIf="spell.level != 2" type="button" class="btn btn-warning" (click)="spell.level=2">2</button>
          <button *ngIf="spell.level == 3" type="button" class="btn btn-success" (click)="spell.level=3">3</button>
          <button *ngIf="spell.level != 3" type="button" class="btn btn-warning" (click)="spell.level=3">3</button>
          <button *ngIf="spell.level == 4" type="button" class="btn btn-success" (click)="spell.level=4">4</button>
          <button *ngIf="spell.level != 4" type="button" class="btn btn-warning" (click)="spell.level=4">4</button>
          <button *ngIf="spell.level == 5" type="button" class="btn btn-success" (click)="spell.level=5">5</button>
          <button *ngIf="spell.level != 5" type="button" class="btn btn-warning" (click)="spell.level=5">5</button>
          <button *ngIf="spell.level == 6" type="button" class="btn btn-success" (click)="spell.level=6">6</button>
          <button *ngIf="spell.level != 6" type="button" class="btn btn-warning" (click)="spell.level=6">6</button>
          <button *ngIf="spell.level == 7" type="button" class="btn btn-success" (click)="spell.level=7">7</button>
          <button *ngIf="spell.level != 7" type="button" class="btn btn-warning" (click)="spell.level=7">7</button>
          <button *ngIf="spell.level == 8" type="button" class="btn btn-success" (click)="spell.level=8">8</button>
          <button *ngIf="spell.level != 8" type="button" class="btn btn-warning" (click)="spell.level=8">8</button>
          <button *ngIf="spell.level == 9" type="button" class="btn btn-success" (click)="spell.level=9">9</button>
          <button *ngIf="spell.level != 9" type="button" class="btn btn-warning" (click)="spell.level=9">9</button>
        </td>
       </tr>
       <tr>
         <td style="text-align:right"><b>Save type:</b></td>
         <td style="text-align:left">
          <button *ngIf="spell.save_type == 0" type="button" class="btn btn-success" (click)="spell.save_type=0">No save</button>
          <button *ngIf="spell.save_type != 0" type="button" class="btn btn-warning" (click)="spell.save_type=0">No save</button>
          <button *ngIf="spell.save_type == 1" type="button" class="btn btn-success" (click)="spell.save_type=1">Fortitude</button>
          <button *ngIf="spell.save_type != 1" type="button" class="btn btn-warning" (click)="spell.save_type=1">Fortitude</button>
          <button *ngIf="spell.save_type == 2" type="button" class="btn btn-success" (click)="spell.save_type=2">Reflex</button>
          <button *ngIf="spell.save_type != 2" type="button" class="btn btn-warning" (click)="spell.save_type=2">Reflex</button>
          <button *ngIf="spell.save_type == 3" type="button" class="btn btn-success" (click)="spell.save_type=3">Will</button>
          <button *ngIf="spell.save_type != 3" type="button" class="btn btn-warning" (click)="spell.save_type=3">Will</button>
        </td>
       </tr>
       <tr>
         <td style="text-align:right"><label for="permits_sr"><b>Permits spell resistance:</b></label></td>
         <td style="text-align:left">
          <input type="checkbox" class="checkbox" id="permits_sr"
              [(ngModel)]="spell.permits_sr" name="permits_sr">
         </td>
       </tr>
      </tbody></table></div>
     </div>
    </form>
   <button type="submit" form="myform" class="btn btn-success">Update</button>
   <button class="btn btn-warning" (click)="redirectToShowSpell()">Discard changes</button>
</div>
